
@{
    ViewBag.Title = "VERCITA";
}

<div id="layoutSidenav">
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h1 class="mt-4">Citas</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Citas</li>
                </ol>
            </div>



            ////////Aqui se desarrolla
        </main>
    </div>
</div>